services:
  db:
    image: postgres:16.11
    container_name: db1
    ports:
      - "5433:5432"
    restart: always
    env_file: .env
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file: .env


volumes:
  db_data:
